@media screen and (min-width:1px) {
    .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #000;
        margin: 25px 0 20px 0;
    }
}

@media screen and (min-width: 767px) {
    .title {
        font-weight: 700;
        font-size: 22px;
        margin: 60px 0 30px 0;
    }
}

@media screen and (min-width: 1023px) {
    .title {
        margin: 40px 0 30px 0;
    }
    .title:first-of-type {
        margin: 0 0 30px 0;
    }
}