.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000;
    margin-top: 80px;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000;
    width: 100%;
    max-width: 297px;
    margin: 25px 0;
}

.link__container {
    display: flex;
    align-items: center;
}

.link {
    font-weight: 600;
    font-size: 18px;
    line-height: 115%;
    color: #18181B;
    margin-right: 20px;
}