@media screen and (min-width: 1px) {
    .container {
        display: flex;
        align-items: center;
    }
    .current {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #000;
        margin-right: 15px;
        white-space: nowrap;
    }
    .previous {
        font-weight: 300;
        font-size: 14px;
        line-height: 130%;
        text-decoration-line: line-through;
        color: #A1A1AA;
        white-space: nowrap;
    }
}

@media screen and (min-width: 767px) {
    .current {
        font-size: 22px;
        margin-right: 0;
        margin-left: 10px;
        order: 1;
    }
    .previous {
        font-size: 16px;
    }
}