.container,
.right__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.global__container {
    position: relative;
    height: 70px;
}

.container {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}

.container.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 1px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .checkout {
        display: grid;
        justify-content: start;
        padding-top: 105px;
        padding-left: 30px;
        padding-right: 20px;
    }
    .checkout__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #000;
        margin-bottom: 20px;
    }
    .mobile__links {
        padding-top: 105px;
        padding-right: 30px;
    }
    .mobile__products_bottom {
        margin-bottom: 40px;
    }
    .summary__button {
        max-height: 45px;
        margin-top: 25px;
    }
}

@media screen and (min-width: 767px) {
    .desktop {
        display: block;
    }
    .desktop__links {
        padding-top: 130px;
        padding-right: 35px;
    }
    .mobile {
        display: none;
    }
    .checkout {
        padding-top: 130px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .checkout__title {
        font-size: 48px;
    }
    .summary {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 25px;
        align-items: center;
    }
    .summary__amount {
        grid-column: 1 / 3;
    }
    .summary__button {
        max-height: 45px;
        margin-top: 0;
    }
}

@media screen and (min-width: 1023px) {
    .checkout__title {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1281px) {
    .global__container_hero {
        margin-bottom: -70px;
    }
}