@media screen and (min-width: 1px) {
    .title {
        font-weight: 800;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #18181B;
        margin-bottom: 15px;
    }
    .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #18181B;
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 767px) {
    .title {
        font-size: 22px;
        font-weight: 700;
    }
}