.container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.text {
    font-weight: 600;
    font-size: 18px;
    line-height: 115%;
    color: #A1A1AA;
    margin-left: 16px;
}

@media screen and (min-width: 1px) {
    .container {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1023px) {
    .container {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1281px) {
    .container {
        margin-bottom: 20px;
    }
}