@media screen and (min-width: 1px) {
    .container__color {
        background-color: #F4F4F5;
        border-bottom: 1px solid #E4E4E7;
    }
    .container {
        display: grid;
        grid-row-gap: 55px;
        padding: 40px 0 60px 0;
    }
}

@media screen and (min-width: 767px) {
    .container {
        align-items: start;
        grid-row-gap: 0;
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 0 80px 0;
    }
}

@media screen and (min-width: 1281px) {
    .container {
        padding: 50px 0 60px 0;
    }
}