@media screen and (min-width: 1px) {
    .container {
        position: relative;
        margin-bottom: 75px;
    }
}

@media screen and (min-width: 767px) {
    .container {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1023px) {
    .container {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1281px) {
    .container {
        margin-bottom: 130px;
    }
}