@media (min-width: 1px) {
    .item, .item__captured {
        padding: 18px 10px;
        display: grid;
        align-items: center;
        grid-template-columns: 24px calc(100% - 24px);
        cursor: pointer;
        transition: border .3s ease;
    }

    .item {
        border: 2px solid #E4E4E7;
    }

    .item__captured {
        border: 2px solid #000;
    }

    .color__container {
        position: relative;
        width: 24px;
        height: 24px;
    }

    .color {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .3s ease;
    }

    .name {
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #000;
        padding-left: 12px;
        transition: color .3s ease;
    }

    .name__disabled {
        color: #E4E4E7;
    }
}

@media (min-width: 769px) {
    .item, .item__captured {
        padding: 28px 14px 28px 28px;
        grid-template-columns: 35px calc(100% - 35px);
    }

    .color__container {
        width: 35px;
        height: 35px;
    }

    .name {
        font-size: 16px;
        padding-left: 17px;
    }
}