@media screen and (min-width: 1px) {
    .ctaContainer {
        position: relative;
        z-index: 1;
        width: 100%;
    }
    .linkContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
    }
    .link {
        font-weight: 600;
        font-size: 14px;
        margin: 0;
    }
    .title {
        font-weight: 800;
        font-size: 28px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 7px 0;
        white-space: nowrap;
    }
    .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 44px;
    }
    .hero {
        display: none;
    }
    .responsive {
        display: block;
    }
    .imageContainer {
        position: relative;
        width: 100%;
        height: 195px;
        top: 0;
        left: 0;
    }
    .svg {
        margin-left: 15px;
    }
}

@media screen and (min-width: 321px) {
    .link {
        font-size: 22px;
    }
    .title {
        font-size: 54px;
        margin: 15px 0;
    }
    .description {
        font-size: 18px;
    }
}

@media screen and (min-width: 767px) {
    .ctaContainer {
        width: 394px;
    }
    .imageContainer {
        height: 371px;
    }
    .description {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1023px) {
    .ctaContainer {
        width: 326px;
        margin-top: 15%;
    }
    .linkContainer {
        justify-content: flex-end;
    }
    .hero {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: block;
    }

    .imageContainer {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .responsive {
        display: none;
    }
}

@media screen and (min-width: 1921px) {
    .ctaContainer {
        margin-top: 25%;
    }
}