@media screen and (min-width: 1px) {
    .ctaContainer {
        position: relative;
        z-index: 1;
        width: 100%;
    }
    .link {
        font-weight: 600;
        font-size: 14px;
    }
    .title {
        font-weight: 800;
        font-size: 28px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 7px 0;
    }
    .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
    }
    .hero {
        display: none;
    }
    .responsive {
        display: block;
    }
    .imageContainer {
        position: relative;
        width: 100%;
        height: 195px;
        top: 0;
        left: 0;
    }
}

@media screen and (min-width: 321px) {
    .ctaContainer {
        width: 50%;
    }
    .link {
        font-size: 22px;
    }
    .title {
        font-size: 54px;
        margin: 15px 0;
    }
    .description {
        font-size: 18px;
    }

    .imageContainer {
        height: 406px;
    }
}

@media screen and (min-width: 764px) {
    .ctaContainer {
        width: 394px;
    }
    .imageContainer {
        height: 371px;
    }
}

@media screen and (min-width: 1025px) {
    .ctaContainer {
        width: 326px;
        margin-top: 17.5%;
    }
    .hero {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: block;
    }

    .imageContainer {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .responsive {
        display: none;
    }
}

@media screen and (min-width: 1921px) {
    .ctaContainer {
        margin-top: 25%;
    }
}

.linkContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}