@media screen and (min-width: 1px) {
    .link {
        font-weight: 800;
        font-size: 18px;
        line-height: 140%;
        text-align: right;
        letter-spacing: 0.02em;
        color: #000;
    }
}

@media screen and (min-width: 767px) {
    .link {
        font-size: 34px;
    }
}