.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@media screen and (min-width: 767px) {
    .changer__container {
        position: absolute;
        z-index: 1;
        right: 2.5%;
        top: 15%;
        width: 30%;
    }
    .title {
        font-weight: 700;
        font-size: 30px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #000;
        white-space: nowrap;
    }
    .changer__color {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        cursor: pointer;
    }

    .changer__color_wrapper {
        width: 25px;
        height: 25px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        margin-right: 22px;
    }
}

@media screen and (min-width: 1281px) {
    .changer__container {
        right: 7.5%;
        top: 15%;
        width: 27.5%;
    }
    .title {
        font-size: 48px;
    }
    .changer__color {
        width: 20px;
        height: 20px;
    }
    .changer__color_wrapper {
        width: 30px;
        height: 30px;
    }
}

.changer__color_container {
    display: flex;
    align-items: center;
}

.changer__color_wrapper.current {
    border: 1px solid #18181B;
}

.changer__color_wrapper:last-of-type {
    margin-right: 0;
}

.color__choose {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
}

.line {
    background-color: #C5C5C5;
    width: 100%;
    height: 1px;
    margin: 12px 0 14px 0;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #000;
    margin: 23px 0 45px 0;
}