@media screen and (min-width: 1px) {
    .schedule__container {
        display: grid;
        width: 100%;
        grid-row-gap: 50px;
    }
    .title {
        font-weight: 700;
        font-size: 22px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #000;
    }
    .description {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #000;
        margin-bottom: 40px;
    }
    .popup__container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 10000;
        display: grid;
        place-items: center;
        overflow-y: scroll;
        padding: 65px 0;
    }
    .title__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 767px) {
    .schedule__container {
        display: grid;
        grid-row-gap: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .title {
        font-size: 48px;
    }
    .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #000;
        width: 668px;
    }
    .title__container {
        margin-bottom: 20px;
    }
    .popup__container {
        padding: 0;
    }
}

@media screen and (min-width: 1023px) {
    .schedule__container {
        display: grid;
    }
}

@media screen and (min-width: 1281px) {
    .schedule__container {
        display: grid;
    }
}