@media screen and (min-width: 1px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

@media screen and (min-width: 769px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}