@media screen and (min-width: 1px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}