@media screen and (min-width: 1px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .price__container {
        display: flex;
        flex-direction: column;
    }
    .price__current {
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        text-align: right;
        letter-spacing: 0.02em;
        color: #18181B;
    }
    .price__previous {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-decoration-line: line-through;
        color: #A1A1AA;
        margin-top: 4px;
    }
    .cta__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cta__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #18181B;
        padding: 10px 32px;
        border: none;
        cursor: pointer;
    }
    .cta__button_text {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #fff;
        margin-right: 17px;
    }
    .cta__financing {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
    }
    .cta__financing_link {
        font-weight: 300;
        font-size: 12px;
        line-height: 130%;
        color: #71717A;
        margin-left: 9px;
    }
    .cta__financing_underlined {
        text-decoration: underline;
    }
}

@media screen and (min-width:767px) {
    .container {
        flex-direction: column;
    }
    .price__container {
        margin: 22px 0;
    }
    .price__current, .price__previous {
        text-align: center;
    }
}

@media screen and (min-width:1025px) {
    .container {
        flex-direction: row;
        justify-content: center;
    }
    .cta__container {
        margin-top: 22px;
    }
    .price__container {
        align-items: flex-start;
        margin-right: 70px;
    }
}