@media screen and (max-width: 1px) {
    .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: #52525B;
    }
}

@media screen and (max-width: 321px) {
    .text {
        font-size: 16px;
    }
}

