.container {
    cursor: pointer;
    margin-left: 15px;
}

.item {
    display: block;
    width: 25px;
    height: 1.5px;
    background-color: #000;
    margin-bottom: 8px;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

.item:last-child {
    margin-bottom: 0;
}

.item.opened {
    transform: rotate(45deg) translate(1px, 0);
}

.item:nth-child(1).opened {
    transform-origin: 0 0;
}

.item:nth-child(2) {
    transition: opacity 0.3s ease, width .3s ease;
}

.item:nth-child(2).opened {
    opacity: 0;
    width: 0;
    transform: none;
}

.item:nth-child(3).opened {
    transform: rotate(-45deg) translate(1px, -1px);
    transform-origin: 0 100%;
}