.form {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 11px 15px;
    background: #fff;
    border: 1px solid #D4D4D8;
    outline: none;
    transition: border .3s ease;
    margin-bottom: 22px;
    height: 45px;
}

.input:focus {
    border-color: #000;
}

.input.error {
    border-color: #DB2424;
    color: #DB2424;
    margin-bottom: 0;
}

.error__message {
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #DB2424;
    padding-top: 5px;
}

.input.error::placeholder {
    color: #DB2424;
}

.label {
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #3F3F46;
    margin-bottom: 6px;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 61px;
    width: 195px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #D4D4D8;
}

.dropdown__item {
    width: 100%;
    padding: 8px 15px;
    cursor: pointer;
    transition: all .3s ease;
}

.dropdown__item:hover {
    background-color: #000;
    color: #fff;
}