@media (min-width: 1px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
    }
}

@media (min-width: 767px) {
    .container {
        grid-column-gap: 20px;
    }
}

@media (min-width: 1023px) {
    .container {
        grid-template-columns: repeat(2, 194px);
    }
}

