@media screen and (min-width: 1px) {
    .container {
        position: relative;
    }

    .dropdown__container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: 0;
        width: 170px;
        padding: 0;
        cursor: pointer;
    }
    .dropdown__container.time__picker {
        width: 100%;
        background-color: #fff;
        top: auto;
        bottom: 48px;
        height: 120px;
        overflow-y: scroll;
        border: 1px solid #D4D4D8;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 767px) {
    .dropdown__container {
        right: 0;
        left: auto;
    }
}

