.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: grid;
    place-items: center;
    z-index: 1000;
}

.cross {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

/*@media screen and (min-width: 1px) {*/
/*    .inner {*/
/*        margin: 173px 0 0 0;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 767px) {*/
/*    .inner {*/
/*        margin: 135px 35px;*/
/*    }*/
/*}*/