.container {
    border: 1px solid #D4D4D8;
    padding: 13px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #71717A;
}