@media screen and (min-width: 1px){
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .filter__container {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
    }

    .text {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #18181B;
        margin-right: 8px;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30px;
        right: 0;
        width: 170px;
        padding: 0;
        cursor: pointer;
        box-shadow: 0 0 66px rgba(0, 0, 0, 0.08);
    }
    .item {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #18181B;
        transition: all 0.3s ease;
        padding: 10px 20px;
        background-color: #fff;
        z-index: 1;
        list-style: none;
    }

    .current,
    .item:hover {
        background-color: #000;
        color: #fff;
    }
}