@media screen and (min-width: 1px) {
    .container {
        width: 280px;
        background-color: #fff;
        box-shadow: 0 3px 59px rgba(0, 0, 0, 0.1);
        position: fixed;
        z-index: 10;
    }
}