@media (min-width: 1px) {
    .badge {
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 14px;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #fff;
        padding: 1px 10px;
        background-color: #18181B;
    }
}

@media (min-width: 767px) {
    .badge {
        font-size: 16px;
        padding: 1px 13px;
    }
}

@media (min-width: 1023px) {
    .badge {
        padding: 3px 17px;
    }
}